# Dune outputs
_build
*.opam
_opam


# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
# LaTeXMk
*.fdb_latexmk
*.fls
*.synctex.gz


# Coq compiler outputs
*.vo
*.glob
*.d
.*.aux
*.vio
*.vok
*.vos
.lia.cache
CoqMakefile.mk*
!CoqMakefile.mk.local
!CoqMakefile.mk.local-late
*.log
theories/html/


# Generated coq dependency graph
dep.dot
dep.html


# Editor related files
## Emacs
*.~undo-tree~
\#*\#
.\#*
*~
*\~


## VSCode
.vscode/


# Others
*.sh
notes.txt

# Extracted files
theories/**/driver/extracted/*.ml
theories/**/driver/extracted/*.mli