.vscode/

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
# LaTeXMk
*.fdb_latexmk
*.fls
*.synctex.gz
#
*.sh
notes.txt
*~
*\~

.*.aux
*.vo
*.vok
*.vos
*.glob

*.cache

.CoqMakefile.mk.d
CoqMakefile.mk.conf
CoqMakefile.mk

\#*\#
.\#*